<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Membres du club</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Tel.</th>
                        <th>Mail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="team in teamMembersCtrl.members">
                        <td><i class="fa fa-eye content-clickable"
                               style="font-size: x-large"
                               ui-sref="team({id: team.id})"></i></td>
                        <td data-ng-bind="team.lastname"></td>
                        <td data-ng-bind="team.firstname"></td>
                        <td data-ng-bind="team.tel"></td>
                        <td data-ng-bind="team.mail"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>