<div class="row"
     data-ng-repeat="message in contactCtrl.messages | orderBy: 'received_at'">
    <div class="panel"
         data-ng-class="message.from_contact ? 'pull-left panel-default' : 'pull-right panel-success'">
        <div class="panel-heading" data-ng-if="message.from_contact">
            reçu le {{message.received_at | date: 'dd MMM yyyy à hh:mm'}}
        </div>
        <div class="panel-heading" data-ng-if="!message.from_contact">
            envoyé le {{message.received_at | date: 'dd MMM yyyy à hh:mm'}}
        </div>
        <div class="panel-body">
            {{message.content}}
        </div>
    </div>
</div>

<footer>
    <div class="row navbar-fixed-bottom ">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <textarea class="form-control"
                      data-ng-model="contactCtrl.messageTextarea"
                      data-ng-keypress="contactCtrl.sendMessage($event)" rows="5"
                      placeholder="Your message ..."></textarea>
        </div>
    </div>
</footer>
