<div class="sidebar" data-color="purple" data-image="./img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a ui-sref="dashboard" class="simple-text">
                MeetingsMakr
            </a>
        </div>

        <ul class="nav">
            <li ui-sref-active="active">
                <a ui-sref="dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="editUser">
                    <i class="pe-7s-user"></i>
                    <p>Mes informations</p>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="club">
                    <i class="pe-7s-network"></i>
                    <p>Mes clubs</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="pe-7s-ball"></i>
                    <p>Mes équipes</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="pe-7s-clock"></i>
                    <p>Matchs à venir</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="pe-7s-search"></i>
                    <p>Chercher une équipe</p>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <i class="pe-7s-tools"></i>
                    <p>Paramètres du compte</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="pe-7s-map-marker"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="pe-7s-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>
        </ul>
    </div>
</div>