<div class="home-container text-center">
    <div class="col-sm-12 home-content">
        <h1>Pas encore d'équipe ?</h1>
        <button class="row btn btn-fill btn-lg btn-success">Creer mon équipe</button>
        <p class="row" style="margin-top: 10px">Je suis déjà inscrit, <a href="">me connecter.</a></p>
    </div>
    <div class="col-sm-12 home-content">
        <h1 class="row">Rechercher des matchs</h1>
        <p class="row">Visualisez les rencontres qui se déroulent dans votre département !</p>
        <div class="input-group col-sm-6 col-sm-offset-3">
                <input type="text" class="form-control" placeholder="Saisissez le departement...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-fill btn-success" type="button">Rechercher !</button>
              </span>
        </div>
    </div>
</div>
