<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Vos clubs</h4>
                <div class="row">
                    <button class="btn btn-success btn-fill pull-left"
                            data-ng-if="!controller.showAddClubForm && controller.newClub"
                            data-ng-click="controller.showAddClubForm = true">Ajouter un club</button>
                </div>
                <div class="content" data-ng-if="controller.showAddClubForm">
                    <form ng-submit="controller.addClub()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nom</label>
                                    <input type="text" class="form-control" placeholder=""
                                           required
                                           data-ng-model="controller.newClub.name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ville</label>
                                    <input type="text" class="form-control" placeholder=""
                                           required
                                           data-ng-model="controller.newClub.city">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Code postal</label>
                                    <input type="text" class="form-control" placeholder=""
                                           data-ng-model="controller.newClub.postal_code">
                                </div>
                            </div>
                        </div>

                        <button type="submit"
                                class="btn btn-success btn-fill pull-right">Ajouter</button>
                        <button class="btn btn-danger btn-fill pull-right"
                                data-ng-click="controller.showAddClubForm = false"
                                style="margin-right: 1%;">Annuler</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Nom du club</th>
                        <th>Ville</th>
                        <th>Code postal</th>
                        <th>Nombre d'équipes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="club in controller.clubs">
                        <td><i class="fa fa-eye content-clickable"
                               style="font-size: x-large"
                               ui-sref="clubDetails({id: club.id})"></i></td>
                        <td style="width: 15%;">
                            <i class="pe-7s-delete-user content-clickable"
                               style="font-size: x-large; color: red;"
                               data-ng-if="!club.displayDelete"
                               data-ng-click="club.displayDelete = true"></i>
                            <button class="btn btn-danger"
                                    style="padding: 1.5px 10px;"
                                    data-ng-click="controller.removeClub($index)"
                                    data-ng-if="club.displayDelete">Supprimer
                            </button>
                            <button class="btn btn-default"
                                    style="padding: 1.5px 10px;"
                                    data-ng-click="club.displayDelete = false"
                                    data-ng-if="club.displayDelete">Annuler
                            </button>
                        </td>
                        <td data-ng-bind="club.name"></td>
                        <td data-ng-bind="club.city"></td>
                        <td data-ng-bind="club.postal_code"></td>
                        <td data-ng-bind="club.count"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>