<div class="list-group container col-sm-12">
    <a href="#" class="list-group-item row"
       ui-sref="contact({id: $index})"
       data-ng-repeat="contact in inboxCtrl.contacts">
        <div class="col-sm-1 col-xs-1 pull-left">
            <span class="badge"
                  data-ng-if="contact.unread"
                  data-ng-bind="contact.unread"></span>
        </div>
        <div class="col-sm-7 col-xs-7 pull-left">
            <b data-ng-if="contact.unread">{{contact.name}}</b>
            {{contact.unread ? '' : contact.name}}
        </div>
        <span class="col-sm-4 col-xs-4 text-right">
            <b data-ng-if="contact.unread">{{contact.getMostRecent().received_at | date: 'dd/MM/yyyy hh:mm'}}</b>
            {{contact.unread ? '' : contact.getMostRecent().received_at | date: 'dd/MM/yyyy hh:mm'}}
        </span>
    </a>
</div>